@import "~materialize-css/dist/css/materialize.min.css";

.file-pond-custom {
  height: 720px;
  width: 480px;
}

/* Auth styles */

.auth-body {
  background: #222;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://unsplash.it/1200/800/?random');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background-fill-mode: rgba(0,0,0,0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
}

.animation {
  animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
 }

.fonts-styles {
  font-weight: 500;
  font-size: 3rem;
}

/* auth/login style */

#login-page {
  padding-top: 70px;
  width: 500px;
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* auth/register style */

.container-auth {
  background: white;
  padding: 20px 25px;
  border: 5px solid #26a69a;
  width: 550px;
  height: auto;
  box-sizing: border-box;
  position: relative;
}

@keyframes showUp {
 0% {
   transform: scale(0);
 }
 100% {
   transform: scale(1);
 }
}
.row {margin-bottom: 10px;}

.ngl {
 position: absolute;
 top: -30px;
 right: -20px;
}

.mat-ico {
  padding-top: 11%;
  vertical-align: middle;
}


/* Displaying icon in register button */
.dist {
  padding-left: 20px;
  position: absolute !important;
  transition: color .2s;
}


/* Navbar */
nav{
  height: 8vh;
  line-height: 8vh;
}

.dropdown {
  position: absolute;
  background-color: rgba(238, 110, 115, 0.7);
  transition: background-color .3s;
  font-size: 1rem;
  width: 150px;
  transform: translateX(-37%);
  color: #fff;
  display: block;
  cursor: pointer;
  box-shadow: -3px 1px 3px 0px rgba(238, 110, 115, 0.2)
}

/* Add film page */

.drop_zone {
  display: flex;
  height: 9rem;
  background: white;
  background-image: url("/icons/upload.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  background-color: #ffffff;
  cursor: pointer;
  border: 2px dashed #ccc;
  border-radius: 6px;
  margin-bottom: 25px;
  background-position: center 28px;
}
.drop_zone>p {
  margin: auto;
}
.image{
 width: 200px;
 height: 200px;
 border-radius: 4px;
 display: inline-block;
}


/* Film card */

.card .card-image img {
  height: 100%;
  width: 100%;
}

.card .card-image {
  height: 350px;
}

.card {
  position: relative; 
  left: 0;
  top: 0;
   transform: translate(0, 0);
}

.card .card-content {
  height: 200px;
}